{% extends "mypagebase.html" %}

{% block title %}メンバー会員登録の解除{% endblock %}

{% block container %}

				<br>
				<table width="73%" border="0" cellspacing="0" cellpadding="15" bgcolor="white">
					<tr>
						<td><h2>メンバー会員登録の解除</h2>
							<br>
							<br>
							<p align="center">メンバー会員登録の解除をご希望の方は<br>
							登録解除ボタンを押して下さい<br>
								<br>
								<input type="submit" name="submitButtonName" value="メンバー会員登録の解除"></p>
							<br>
							<br>
							<br>
							<br>
						</td>
					</tr>
				</table>
				<br>

{% endblock %}
