<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "https://www.w3.org/TR/html4/frameset.dtd">
<html lang="ja">
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta name="keywords" content="千種区,マンション,売却,査定,任意売却,相談無料,不動産,買取り,売却,司法書士,税理士,弁護士,売却.net">
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<link href="https://www.chikusaku-mansion.com/css/styles.css" rel="stylesheet" type="text/css" media="all">
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="../js/smooth.pack.js"></script>
<script type="text/javascript" src="https://www.chikusaku-mansion.com/js/navi2.js"></script>
{% block head %}{% endblock %}




<body onload="preloadImages('https://www.chikusaku-mansion.com/cmn_img/menu01o.jpg','https://www.chikusaku-mansion.com/cmn_img/menu02o.jpg','https://www.chikusaku-mansion.com/cmn_img/menu03o.jpg','https://www.chikusaku-mansion.com/cmn_img/menu04o.jpg','https://www.chikusaku-mansion.com/cmn_img/menu05o.jpg','https://www.chikusaku-mansion.com/cmn_img/menu06o.jpg')"  leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">
<div align="center">
<a id="pagetop" name="pagetop"></a>

  <!--HEADER START-->
{% block contents_header %}
<table width="990" border="0" cellspacing="0" cellpadding="0" background="https://www.chikusaku-mansion.com/cmn_img/back-head.jpg" height="80">
                <tr>
                    <td height="110" align="left" valign="top">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="center" valign="top">
                                    <table border="0" cellspacing="4" cellpadding="0">
                                        <tr>
                                            <td class="class10"><a href="https://www.chikusaku-mansion.com/privacy/" target="_top">プライバシーポリシー</a>　｜　<a href="https://www.chikusaku-mansion.com/sitemap/" target="_top">サイトマップ</a></td>
                                            <td class="class10" width="20"></td>
                                            <td>
                                                <table border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td><img src="https://www.chikusaku-mansion.com/cmn_img/yajirushi01.gif" alt="" height="10" width="14" border="0"></td>
                                                        <td><span class="class10aka">お気に入りに追加</span></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
<tr>
<td colspan="3" class="class10"><h1>千種区でマンションを探すなら「千種区マンション探し.com」へ！</h1></td>
</tr>
                                    </table>
                                </td>
                                <td align="right" valign="top">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="class14white" valign="top"><img src="https://www.chikusaku-mansion.com/cmn_img/login-side01.jpg" alt="" height="29" width="13" border="0"></td>
                                            <td class="class14white" background="https://www.chikusaku-mansion.com/cmn_img/login-back.jpg"><!--ゲストさん--></td>
                                            <td valign="top" background="https://www.chikusaku-mansion.com/cmn_img/login-back.jpg"><a href="https://s-style-hrd.appspot.com/login?corp_name=s-style&branch_name=hon&sitename=www.chikusaku-mansion.com&togo=https://www.chikusaku-mansion.com/" target="_top" onclick="_gaq.push(['_link',this.href]); return false;"><img src="https://www.chikusaku-mansion.com/cmn_img/b-login.jpg" alt="ログイン" height="25" width="100" border="0"></a></td>
                                            <td valign="top" background="https://www.chikusaku-mansion.com/cmn_img/login-back.jpg"><a href="../chikusaku-mansion.com/index.html#form" target="_top"><img src="https://www.chikusaku-mansion.com/cmn_img/b-touroku.jpg" alt="会員登録" height="25" width="95" border="0"></a></td>
                                            <td valign="top"><img src="https://www.chikusaku-mansion.com/cmn_img/login-side02.jpg" alt="" height="29" width="13" border="0"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                    </table></td>
                </tr>
            </table>
{% endblock contents_header %}
  <!--HEADER END-->

  <!--/*  Menu[Start] */-->
{% block contents_menu %}
  <table width="990" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><ul id="dd">
          <li><a id="mmenu1" class="menu" onmouseover="mopen(1);" onmouseout="mclosetime();" href="https://www.chikusaku-mansion.com/"><img onmouseover="swapImage('menu01','','https://www.chikusaku-mansion.com/cmn_img/menu01o.jpg',1);" onmouseout="swapImgRestore()" src="https://www.chikusaku-mansion.com/cmn_img/menu01.jpg" alt="トップページ" name="menu01" height="43" width="165" border="0"></a>
            <div class="submenu" id="menu1" onmouseover="mcancelclosetime()" onmouseout="mclosetime();"> </div>
<li><a id="mmenu3" class="menu" onmouseover="mopen(3);" onmouseout="mclosetime();" href="https://s-style-hrd.appspot.com/show/s-style/hon/www.chikusaku-mansion.com/bklist/bklist.html?listkey=全ての販売情報&offset=0&media=web"><img onmouseover="swapImage('menu03','','https://www.chikusaku-mansion.com/cmn_img/menu03o.jpg',1);" onmouseout="swapImgRestore()" src="https://www.chikusaku-mansion.com/cmn_img/menu03.jpg" alt="販売情報一覧" name="menu03" height="43" width="165" border="0"></a>
<div class="submenu" id="menu3" onmouseover="mcancelclosetime()" onmouseout="mclosetime();">
    <a href="https://s-style-hrd.appspot.com/show/s-style/hon/www.chikusaku-mansion.com/bklist/bklist.html?listkey=全ての販売情報&offset=0&media=web">全ての販売情報</a>
    <a href="https://s-style-hrd.appspot.com/show/s-style/hon/www.chikusaku-mansion.com/bklist/bklist.html?listkey=リノベーション&offset=0&media=web">リノベーション済み情報</a>
    <a href="https://s-style-hrd.appspot.com/show/s-style/hon/www.chikusaku-mansion.com/bklist/bklist.html?listkey=リフォーム&offset=0&media=web">リフォーム済み情報</a>
    </div>
          <li><a id="mmenu2" class="menu" onmouseover="mopen(2);" onmouseout="mclosetime();" href="https://www.chikusaku-mansion.com/ninki/"><img onmouseover="swapImage('menu02','','https://www.chikusaku-mansion.com/cmn_img/menu02o.jpg',1);" onmouseout="swapImgRestore()" src="https://www.chikusaku-mansion.com/cmn_img/menu02.jpg" alt="人気マンションのご紹介" name="menu02" height="43" width="165" border="0"></a>
            <div class="submenu" id="menu2" onmouseover="mcancelclosetime()" onmouseout="mclosetime();"> <a href="https://www.chikusaku-mansion.com/ninki/index01.html">人気物件一覧</a> <a href="https://www.chikusaku-mansion.com/ninki/index02.html">ペットの飼える物件</a></div>
          <li><a id="mmenu4" class="menu" onmouseover="mopen(4);" onmouseout="mclosetime();" href="https://www.chikusaku-mansion.com/buy/"><img onmouseover="swapImage('menu04','','https://www.chikusaku-mansion.com/cmn_img/menu04o.jpg',1);" onmouseout="swapImgRestore()" src="https://www.chikusaku-mansion.com/cmn_img/menu04.jpg" alt="マンション購入の流れ" name="menu04" height="43" width="165" border="0"></a>
            <div class="submenu" id="menu4" onmouseover="mcancelclosetime()" onmouseout="mclosetime();"> <a href="https://www.chikusaku-mansion.com/buy/index01.html">売却の流れ</a>
              <!--<a href="https://www.chikusaku-mansion.com/buy/index02.html">ご購入の流れ</a>-->
              <a href="https://www.chikusaku-mansion.com/buy/index03.html">ご購入時の諸費用</a> <a href="https://www.chikusaku-mansion.com/buy/index04.html">ご購入時にかかる税金</a> <a href="https://www.chikusaku-mansion.com/buy/index05.html">ご購入時の注意点</a> <a href="https://www.chikusaku-mansion.com/buy/index06.html">買い替えの手順</a></div>
          <li><a id="mmenu5" class="menu" onmouseover="mopen(5);" onmouseout="mclosetime();" href="https://www.chikusaku-mansion.com/simulation/"><img onmouseover="swapImage('menu05','','https://www.chikusaku-mansion.com/cmn_img/menu05o.jpg',1);" onmouseout="swapImgRestore()" src="https://www.chikusaku-mansion.com/cmn_img/menu05.jpg" alt="ローンシミュレーション" name="menu05" height="43" width="165" border="0"></a>
            <div class="submenu" id="menu5" onmouseover="mcancelclosetime()" onmouseout="mclosetime();"></div>
          <li><a id="mmenu6" class="menu" onmouseover="mopen(6);" onmouseout="mclosetime();" href="https://www.chikusaku-mansion.com/profile/"><img onmouseover="swapImage('menu06','','https://www.chikusaku-mansion.com/cmn_img/menu06o.jpg',1);" onmouseout="swapImgRestore()" src="https://www.chikusaku-mansion.com/cmn_img/menu06.jpg" alt="運営会社紹介" name="menu06" height="43" width="165" border="0"></a>
            <div class="submenu" id="menu6" onmouseover="mcancelclosetime()" onmouseout="mclosetime();"> <a href="https://www.chikusaku-mansion.com/profile/">運営会社紹介</a> <a href="https://www.chikusaku-mansion.com/profile/index2.html">当社までのご案内</a></div>
        </ul></td>
    </tr>
  </table>
  {% endblock contents_menu %}
  <!--/*  Menu[end] */-->

  <table width="990" border="0" cellspacing="0" cellpadding="0" background="https://www.chikusaku-mansion.com/cmn_img/menu-under.jpg" height="15">
    <tr>
      <td></td>
    </tr>
  </table>

  <table width="990" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="right"><table border="0" cellspacing="3" cellpadding="0">
          <tr>
            <td><img src="https://www.chikusaku-mansion.com/cmn_img/yajirushi01.gif" alt="" width="14" height="10" border="0"></td>
            <td class="class10"><a href="https://www.chikusaku-mansion.com/">トップページ</a></td>
            <td width="15"></td>
            <td><img src="https://www.chikusaku-mansion.com/cmn_img/yajirushi01.gif" alt="" width="14" height="10" border="0"></td>
            <td class="class10"><a href="">{{data.bkdata.ttmnmi|default:""}}　{{data.bkdata.tdufknmi|default:""}}{{data.bkdata.shzicmi1|default:""}}{{data.bkdata.shzicmi2|default:""}}</a></td>
          </tr>
        </table></td>
    </tr>
  </table>



<table width="990" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td valign="top">
        <iframe src="https://www.chikusaku-mansion.com/sidemenu.html" frameborder="0" scrolling="no" height="700" width="175"></iframe></td>
      <td align="left" valign="top" width="815">


    {% block content %}{% endblock %}



     </td>
    </tr>
</table>


{% block contents_footer %}

  <br>
  <br>
  <table width="990" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="right"><table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="https://www.chikusaku-mansion.com/article/cmn_img/yajirushi02.gif" alt="" width="7" height="5" border="0" hspace="4"></td>
            <td class="class10"><a href="#pagetop">ページの一番上へ</a></td>
          </tr>
        </table></td>
    </tr>
  </table>
  <iframe src="https://www.chikusaku-mansion.com/footer.html" frameborder="0" scrolling="no" height="112" width="990"></iframe>

{% endblock contents_footer %}
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7545989-12']);
  _gaq.push(['_setDomainName', 'none']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
