<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="ja" xml:lang="ja" xmlns="https://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title>物件検索</title>
<link href="../css/styles.css" type="text/css" rel="stylesheet" media="all" />
</head>

<body leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">
<div align="center">
<br />
<table width="900" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="left">
<table width="100%" border="0" cellspacing="1" cellpadding="5" bgcolor="#d1cec9">
<tr>
<td align="left">所在地1表示範囲　　<input type="radio" name="radiogroup" value="radioValue" /> 全国　　<input type="radio" name="radiogroup" value="radioValue" /> 県　　<input type="radio" name="radiogroup" value="radioValue" checked="checked" /> 千種エリア　　所在地2は％をつけると部分一致</td>
</tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="5" bgcolor="#e7e7e7">
<tr>
<td align="left">物件区分　<select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select>　　　物件種別　<select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select>　　　物件種目　<select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select><br />
</td>
</tr>
</table>
<br />
<table width="100%" border="0" cellspacing="3" cellpadding="5" bgcolor="#d1cec9">
<tr>
<td class="class_tdcolor_gray1">
<table width="170" border="0" cellspacing="4" cellpadding="0">
<tr>
<td>物件区分</td>
<td><select name="selectName" size="1">
<option selected="selected" value="one">売り物件</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>所在地1</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>所在地1</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>所在地1</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>所在地1</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>エリア1</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
</table>
</td>
<td class="class_tdcolor_gray1">
<table width="170" border="0" cellspacing="4" cellpadding="0">
<tr>
<td>物件種別</td>
<td><select name="selectName" size="1">
<option selected="selected" value="one">土地</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>所在地2</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>所在地2</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>所在地2</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>所在地2</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>エリア2</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
</table>
</td>
<td class="class_tdcolor_gray1">
<table width="170" border="0" cellspacing="4" cellpadding="0">
<tr>
<td>物件種目</td>
<td><select name="selectName" size="1">
<option selected="selected" value="one">売地</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>所在地2</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>所在地2</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>所在地2</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>所在地2</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>エリア3</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
</table>
</td>
<td class="class_tdcolor_gray2" rowspan="2" width="120"><button name="buttonName" type="button">取り消し</button></td>
</tr>
<tr>
<td class="class_tdcolor_gray1" colspan="3">沿線　<select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select>　　駅　<select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select>　　駅　<select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select>　　駅　<select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
</table>
<br />
<table width="100%" border="0" cellspacing="3" cellpadding="5" bgcolor="#d1cec9">
<tr>
<td class="class_tdcolor_gray1">
<table border="0" cellspacing="4" cellpadding="0">
<tr>
<td>土地坪</td>
<td><input type="text" name="textfieldName" size="6" />〜<input type="text" name="textfieldName" size="6" /></td>
<td width="30"></td>
<td>建物坪</td>
<td><input type="text" name="textfieldName" size="9" />〜<input type="text" name="textfieldName" size="9" /></td>
</tr>
<tr>
<td>価格</td>
<td><input type="text" name="textfieldName" size="9" />〜<input type="text" name="textfieldName" size="9" /></td>
<td width="30"></td>
<td>3.3単価</td>
<td><input type="text" name="textfieldName" size="9" />〜<input type="text" name="textfieldName" size="9" /></td>
</tr>
<tr>
<td>地目</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select>　　間口　<input type="text" name="textfieldName" size="6" />〜<input type="text" name="textfieldName" size="6" /></td>
<td width="30"></td>
<td>間取部屋数</td>
<td><input type="text" name="textfieldName" size="9" />　　間取り　<select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>最低接道幅員</td>
<td colspan="4"><input type="text" name="textfieldName" size="9" />　接道方向　<select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
</table>
</td>
<td class="class_tdcolor_gray2" width="120"><button name="buttonName" type="button">取り消し</button></td>
</tr>
</table>
<br />
<table width="100%" border="0" cellspacing="3" cellpadding="5" bgcolor="#d1cec9">
<tr>
<td class="class_tdcolor_gray1">
<table border="0" cellspacing="4" cellpadding="0">
<tr>
<td>情報源</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select>　　</td>
<td>広告可</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select>　　</td>
<td>担当</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
<tr>
<td>会員</td>
<td><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select>　　</td>
<td>レインズ登録</td>
<td colspan="3"><select name="selectName" size="1">
<option value="one">first</option>
<option value="two">second</option>
<option value="three">third</option>
</select></td>
</tr>
</table>
</td>
<td class="class_tdcolor_gray2" rowspan="3" width="120"><button name="buttonName" type="button">取り消し</button></td>
</tr>
<tr>
<td class="class_tdcolor_gray1">ゼンリンコード　<input type="text" name="textfieldName" size="6" /><input type="text" name="textfieldName" size="6" /><input type="text" name="textfieldName" size="6" />　　資料年　<input type="text" name="textfieldName" size="9" />　　資料No.　<input type="text" name="textfieldName" size="9" /></td>
</tr>
<tr>
<td class="class_tdcolor_gray1">確認日　<button name="buttonName" type="button">3 month</button><button name="buttonName" type="button">6 month</button><button name="buttonName" type="button">12 month</button>　　<input type="text" name="" size="10" />〜<input type="text" name="" size="10" />　　建築条件無し　<input type="checkbox" name="checkboxName" value="checkboxValue" /></td>
</tr>
</table>
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="5" bgcolor="#e7e7e7">
<tr>
<td rowspan="2" align="center" bgcolor="#a8a29f"><input type="submit" name="submitButtonName" value="検索開始" /></td>
</tr>
<tr>
								
							</tr>
</table>
</td>
</tr>
</table>
</div>
</body>

</html>