<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSVファイルのアップロード</title>
<SCRIPT language="JavaScript">
<!--
function openwindow(){
window.open("message.htm","","width=700,height=400");
}
//-->
</SCRIPT>
</head>
<body>
    <ul id="my-list">
   {% for info in result %}
     <li>{{info|default_if_none:""}}
   {% endfor %}
     </ul>
   {{error_msg}}<br>
   import:{{source}}

<form method="post" action="#" enctype="multipart/form-data">
ファイル: <input type="file" name="file" size="30" />
<input type="submit" value="アップロード" />

<Form><Input type="button" value="重複チェック" onClick="location.href='../duplicationcheck/bkdata.html'"></Form>

</body>
</html>