/*共通部分
*/
body,h1,h2,h3,h4,h5,h6,li{ font-size: 13px; font-family: arial, sans-serif; font-weight: normal; font-style: normal;f;line-height: 1.6em; ont-variant: normal; }
li{list-style:none;}
ul { margin: 0; padding: 0; }
a:link { color: #c03; text-decoration: underline; }
a:hover { color: #a9a9a9; text-decoration: none; }
/*wrapper*/
.wrapper { text-align: left; min-width: 640px; max-width: 1000px; margin: 0 auto; padding: 0; }
/*header*/
.header{ background-image: none; background-repeat: repeat; background-attachment: scroll; background-position: 0 0; text-align: right; width: 100%; clear: both; max-width: 1000px; margin:5px 0 10px; padding: 5px 0 0; }
.header01 { background-attachment: scroll; background-position: 0 0; float: left; }
/*container*/
.container { width: 80%; float: left; min-width: 640px; }
/*content*/
.contents { width: 80%; float: right; margin: 0; padding: 0; }
/*leftcontent*/
.leftcontent{ float:left; width:20%; margin: 0; padding: 0; outline: solid 2px #dfd6c4; }
.leftcontent .calendar{ background-color: #d1cec9; padding: 8px; }
.container-clear {
  clear: both;
  display: none;
}
/*rightcontent*/
.rightcontent{ font-size: 12px; width:20%; float: left; margin: 0; padding: 0; }
.rightcontent .title { font-weight: bold; background-color: #e6d9b1; padding-top: 2px; padding-bottom: 2px; padding-left: 7px; outline: solid 2px #dfd6c4; }
.rightcontent .content { background-color: #f5f3f1; padding: 7px; outline: solid 2px #dfd6c4; }
/*footer*/
.footer{ background: #c03; color: #fff; font-size: 10px; text-align: center; width: 100%; clear: both; max-width: 1000px; margin: 0; padding-top: 2px; padding-bottom: 2px; border-top: 30px solid #fff; }
/*各コンテンツ*/
/*contents-input*/
.contents-head01 { background-color: #f5f3f1; background-attachment: scroll; background-position: 0 0; text-align: left; margin: 0 10px 2px; padding: 2px 10px; outline: solid 2px #f5f3f1; }
.contents-head02 { background-color: #c03; background-attachment: scroll; background-position: 0 0; margin: 2px 10px 30px; padding: 2px 10px; outline: solid 2px #c03; }
.contents-input { background-color: #ebe6e1; overflow: auto; margin-right: 10px; margin-bottom: 15px; margin-left: 10px; padding: 8px 10px; outline: solid 2px #d1cec9; }
.contents-input .left { width: auto; float: left; }
.contents-input .right { text-align: right; width: auto; float: right;}
.contents-input .space01 { line-height: 2em; margin-bottom: 6px; padding-bottom: 6px; border-bottom: 1px solid #c9b7a1; }
.contents-input .space02 { line-height: 2em; }
.contents-page { margin: 2px 10px 10px; padding: 2px 2px;font-size: 12px}
.contents-page .current {margin: 2px 0px;font-size: 18px}
.contents-page .right { float: right; text-align: right; width: auto; }
/*addresslist01*/
.addresslist01 { background-color: #ebe6e1; overflow: auto; min-height: 25px; margin-right: 5%; margin-bottom: 15px; margin-left: 5%; padding: 10px; outline: solid 2px #d1cec9; }
.addresslist01 .left { width: 80%; float: left; }
.addresslist01 .right { text-align: right; float: right; min-width: 150px; }
/*follow01*/
.follow01 { height: 200px; margin-right: 10px; margin-bottom: 15px; margin-left: 10px; overflow:scroll; outline: solid 2px #e6e6e6; }
/*20111230*/
.resright { background-image: url(img/iconright.gif); background-repeat: no-repeat; background-position: 0 center; padding-left: 13px; }
.resleft { background-image: url(img/iconleft.gif); background-repeat: no-repeat; background-position: 0 center; padding-left: 13px; }
.reselse { background-repeat: no-repeat; background-position: 0 center; padding-left: 13px; }
