@charset "UTF-8";
/*---------------- Modal Window(Text type)の設定 -----------------------*/
div#glayLayer{
  display:none;
  position:fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  background:black;
  filter: alpha(opacity=1); /*以下の３行が透明度の設定*/
  -moz-opacity:0.1;
  opacity:0.1;
}
* html div#glayLayer{
  position:absolute;
}
#overTextareaLayer{
  display:none;
  width: 250px;
  height:150px;
  overflow:auto;
  padding: 10px;
  background:white;
  position: fixed;
  top:50%;
  left:50%;
  filter: alpha(opacity=100); /*以下の３行が透明度の設定*/
  -moz-opacity:1.0;
  opacity:1.0;
}
#overTextLayer{
  display:none;
  overflow:auto;
  background:white;
  position: fixed;
  top:50%;
  left:50%;
  filter: alpha(opacity=100); /*以下の３行が透明度の設定*/
  -moz-opacity:1.0;
  opacity:1.0;
}
#overFollowInputLayer{
  display:none;
  width: 350px;
  height:350px;
  overflow:auto;
  padding: 10px;
  background:white;
  position: fixed;
  filter: alpha(opacity=100); /*以下の３行が透明度の設定*/
  -moz-opacity:1.0;
  opacity:1.0;
}
#overThingInputLayer{
  display:none;
  width: 300px;
  height:180px;
  overflow:auto;
  padding: 10px;
  background:white;
  position: fixed;
  top:50%;
  left:50%;
  filter: alpha(opacity=100); /*以下の３行が透明度の設定*/
  -moz-opacity:1.0;
  opacity:1.0;
}
* html #overLayer{
  position: absolute;
}
/*------------------- Modal Windowの設定終了 -----------------*/
