body, font {
	font-size: 14px;
	line-height: 1.6em;
	margin: 0px;
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, "メイリオ", sans-serif;
	color: #000;
}
img {
	border: none;
	margin: 0px;
}
li {
	list-style-type: none;
}
#Wrapper {
	height: auto;
	width: 100%;
	display: block;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color: #FFF;
}



/* レイアウト */
/* HeadBox */
#HeadBox {
	height: 115px;
	width: 100%;
	display: block;
	padding: 0px;
	box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.3);
	margin: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #9fa0a0;
	background-color: #ededed;
}
#HeadBox h1 {
	font-size: 13px;
	line-height: 1.5em;
	text-align: center;
	color: #9fa0a0;
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 10px;
	font-weight: normal;
}
#HeadBox .Logo a {
	font-size: 33px;
	line-height: 1.5em;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	overflow: hidden;
	text-align: center;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}



/* ContentsBox */
#ContentsBox {
	height: auto;
	width: 960px;
	display: block;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	overflow: hidden;
	text-align: center;
	padding-top: 50px;
	padding-right: 0px;
	padding-bottom: 80px;
	padding-left: 0px;
	clear: both;
}
#ContentsBox h3 {
	font-size: 25px;
	line-height: 1.5em;
	padding: 0px;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	clear: both;
}
#ContentsBox .S-StyleEstateBox {
	width: 145px;
	display: block;
	overflow: hidden;
	padding: 0px;
	float: left;
	text-align: left;
	margin-top: 0px;
	margin-right: 7px;
	margin-bottom: 50px;
	margin-left: 7px;
}
#ContentsBox .S-StyleEstateBox .TextBox {
	height: 505px;
	display: block;
	overflow: auto;
	text-align: left;
	padding: 7px;
	border: 2px solid #9fa0a0;
	margin: 0px;
}
#ContentsBox .S-StyleEstateBox .TextBox li a {
	display: block;
	height: 6em;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	overflow: hidden;
	color: #000;
	text-decoration: none;
}
#ContentsBox .MansionEstateBox {
	width: 930px;
	display: block;
	overflow: hidden;
	padding: 0px;
	float: left;
	text-align: left;
	margin-top: 0px;
	margin-right: 7px;
	margin-bottom: 50px;
	margin-left: 7px;
}
#ContentsBox .MansionEstateBox .TextBox {
	height: 300px;
	display: block;
	overflow: auto;
	text-align: left;
	padding: 7px;
	border: 2px solid #9fa0a0;
	margin: 0px;
}
#ContentsBox .MansionEstateBox .TextBox li a {
	display: block;
	height: 1.5em;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	overflow: hidden;
	color: #000;
	text-decoration: none;
}
#ContentsBox .S-StyleEstateBox .TextBox a:hover,
#ContentsBox .MansionEstateBox .TextBox a:hover {
	text-decoration: underline;
}
#ContentsBox h4 {
	height: auto;
	width: 100%;
	display: block;
	overflow: hidden;
	text-align: center;
	color: #FFF;
	font-size: 17px;
	line-height: 1.5em;
	background-color: #545251;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}



/* FooterBox　フッター */
#FooterBox {
	height: 150px;
	width: 100%;
	display: block;
	clear: both;
	padding: 0px;
	text-align: center;
	border-top-width: 1px;
	border-top-style: dotted;
	border-top-color: #999;
	margin: 0px;
	background-color: #ededed;
}
#FooterBox h5 {
	font-size: 24px;
	line-height: 1.5em;
	margin: 0px;
	position: relative;
	top: 30px;
}
#FooterBox h6 {
	font-size: 15px;
	line-height: 1.5em;
	margin: 0px;
	font-weight: normal;
	position: relative;
	top: 35px;
}



