/*共通部分
*/
body{ font-size: 12.5px; line-height: 1.5em; margin: 0; padding: 0; }
li{list-style:none;}
ul { margin: 0; padding: 0; }
a:link { color: #c03; text-decoration: underline; }
a:hover { color: #a9a9a9; text-decoration: none; }
/*header*/
.headerbox{ background-image: none; background-repeat: repeat; background-attachment: scroll; background-position: 0 0; text-align: center; width: 815px; height: auto; max-width: 1000px; margin:0; p;padding: 0; }
.headerbox .header { background: #c03; text-align: right; margin: 0; padding: 5px 0 5px 0; width: 815px; height: auto; max-width: 1000px; }
.headerbox .login a { color: #fff; text-decoration: underline; text-align: right; padding-right: 10px; }
.headerbox .menu{ background: #e6e6e6; text-align: left; width: 815px; height: auto; margin:0 0 30px; p;padding: 5px 0; }
.headerbox .link a { font-size: 13px; background-image: url(/img/yajirushi01.gif); background-repeat: no-repeat; background-position: 0 center; text-align: left; margin: 0 0 0 5px; padding-left: 15px; }
/*container*/
.container { background-color: #f7a600; width: 795px; height: auto; overflow: auto; min-width: 640px; padding: 10px; display: block; }
/*content*/
.contents01 { background-color: #fff; text-align: left; width: auto; height: auto; margin: 20px 20px 0; padding: 10px; border: solid 2px #e6e6e6; }
.contents02 { text-align: left; width: auto; height: auto; margin: 20px; padding: 0; border-width: 0; }
.contents02 .topics { background-color: #fff; text-align: left; margin: 0; padding: 10px; width: auto; height: auto; border: solid 2px #e6e6e6; }
.contents02 .topics a { line-height: 1.7em; background-image: url(/img/yajirushi01.gif); background-repeat: no-repeat; background-position: 15px auto; margin-left: 7px; padding-left: 13px; }
.contents02 .link { background-color: #fff; background-position: 0 center; text-align: right; margin: 0; padding: 3px; height: auto; display: block; }
.contents02 .link a { background-color: #fff; background-image: url(/img/yajirushi01.gif); background-repeat: no-repeat; background-position: 0 center; margin: 0; padding: 0 0 0 13px; }
/*leftcontent*/
.leftcontent{ background-color: #fff3d7; text-align: left; width:45%; height: auto; float: left; margin: 0 0 10px; padding: 0 10px 10px; outline: solid 1px #dfd6c4; }
.container-clear {
  clear: both;
  display: none;
}
/*rightcontent*/
.rightcontent{ background-color: #fff3d7; text-align: left; width:45%; float: right; margin: 0 0 10px; padding: 0 10px 10px; outline: solid 1px #dfd6c4; }
.rightcontent .content { background-color: #f5f3f1; padding: 7px; outline: solid 2px #dfd6c4; }
.footer{ background: #c03; color: #fff; font-size: 10px; text-align: center; width: 815px; clear: both; max-width: 1000px; margin: 0; padding-top: 2px; padding-bottom: 2px; border-top-width: 0; }
/*pagetop*/
.pagetop { text-align: right; width: 815px; margin-top: 30px; border-top: 1px dotted #dfd6c4; display: block; }
.pagetop a { color: #aaa9a4; font-size: 10px; font-variant: normal; background-image: url(/img/yajirushi02.gif); background-repeat: no-repeat; background-attachment: scroll; background-position: 0 center; text-decoration: underline; margin: 30px 0 0; padding-top: 0; padding-bottom: 2px; overflow: auto; padding-left: 13px; }
/*title*/
.class-title01 { font-size: 15px; font-weight: bold; background-color: #fff; padding-top: 3px; padding-bottom: 3px; padding-left: 6px; border-color: #978d81 #978d81 #978d81 #ff8311; border-style: solid; border-width: 1px 1px 1px 5px; }
.contents-input { background-color: #fff3d7; text-align: left; overflow: auto; margin: 15px 10px 10px; padding: 8px 10px; outline: solid 2px #dfd6c4; }
.contents-input .left { width: auto; float: left; }
.contents-input .right { text-align: right; width: auto; float: right;}
.contents-input .space01 { line-height: 2em; margin-bottom: 6px; padding-bottom: 6px; border-bottom: 1px solid #c9b7a1; }
.contents-input .space02 { line-height: 2em; }
