    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html lang="ja" xml:lang="ja" xmlns="https://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>{% block titile %}顧客フォロー状況{% endblock titile %}</title>
    <link href="/css/baselayout.css" type="text/css" rel="stylesheet" media="all" />
    <!-- jquery UI のcss-->
    <link href="/css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css"/>
    <!-- jquery UI のcss-->
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script><!-- jquery　本体-->
    <script type="text/javascript"  src="/js/jquery-ui-1.8.16.custom.min.js"></script><!-- jquery-UI　本体-->

{% block addheder %}
<style>
.ui-autocomplete-loading {
	background: white url('/img/ui-anim_basic_16x16.gif') right center no-repeat;
}
.ui-autocomplete {
    max-height: 300px;
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
#jquery-ui-autocomplete label {
    float: left;
    margin-right: 0.5em;
    color: black;
    font-size: 13px;
}
</style>

<script type="text/javascript" src="/js/jQueryMultiCheckbox.js"></script>
<script type="text/javascript" language="JavaScript" src="/js/follow2.js"></script>
<link type="text/css" rel="stylesheet" href="/css/follow.css">
<script type="text/javascript" language="JavaScript" src="/js/jTPS_follow.js"></script>
<link type="text/css" rel="stylesheet" href="/css/jTPS_follow.css">
<link type="text/css" rel="stylesheet" href="/css/mark.css">

{% endblock addheder %}


<script type="text/javascript">
var urlvar;
var list = null;
urlvar = getUrlVars();

var ajaxURL = "https://s-style-hrd.appspot.com/jsonservice";
var con = 0;
var set_memberID = urlvar['memberID'];
var set_tantoID = "test222";
// var set_memberID = $("hidden#memberID").val();
// var set_memberID = "test111";
var set_action = urlvar['set_action'];
var thingCheckedID;

$(document).ready(function(){

{% block inready %}
	if (set_action != "Search") {
		// フォロー一覧を表示
		FollowList (set_memberID);
	}
	else {
		// 検索画面を表示
		MemberList (set_tantoID,urlvar['action']);
	}

{% endblock inready %}

    $("#trader_id").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: ajaxURL ,
                dataType: "jsonp",
                data: {
                    com: "getmemID",
                    memID: request.term
                },
                success: function(data) {
                    response($.map(data, function(item) {
                        return {
                            label: item['メンバーID'] + ' (' + item['氏名'] + ')',
                            value: item['メンバーID'],
                            id: item['メンバーID']
                        }
                    }));
                 }
             });
         },
        width: 200,
		open: function() {
			$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
		},
		close: function() {
			$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
		},
		select: function(ev, ui) {
			
			// 選択項目の一覧を取得
			FollowList (ui.item.id);
			$("#listid").val(ui.item.id);
			$("#division").val(ui.item.division);
		}
    });

    $("#trader_name").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: ajaxURL ,
                dataType: "jsonp",
                data: {
                    com: "getmemName",
                    search_key: request.term
                },
                success: function(data) {
                    response($.map(data, function(item) {
                        return {
                            label:  item['読み仮名'] + ' (' + item['氏名'] + ')',
                            value: item['読み仮名'],
                            id: item['メンバーID'],
                            tel: item['電話'],
                            name:item['氏名']
                        }
                    }));
                 }
             });
         },
        width: 200,
		minChars: 0,
		open: function() {
			$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
		},
		close: function() {
			$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
		},
		select: function(ev, ui) {
			// 選択項目の一覧を取得
			FollowList (ui.item.id);
		    $("#listid").val(ui.item.id);
		    $("#division").val(ui.item.division);
		}
    });
    $("#trader_tel").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: ajaxURL ,
                dataType: "jsonp",
                data: {
                    com: "getmemTel",
                    memTel: request.term,
                    division:$("#division").val()
                },
                success: function(data) {
                    response($.map(data, function(item) {
                        return {
                            label: item['電話'],
                            value: item['電話'],
                            id: item['メンバーID'],
                            tel: item['電話'],
                            name:item['氏名']
                        }
                    }));
                 }
             });
         },
        width: 200,
		minChars: 0,
		open: function() {
			$( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
		},
		close: function() {
			$( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
		},
		select: function(ev, ui) {
			// 選択項目の一覧を取得
			FollowList (ui.item.id);
		    $("#listid").val(ui.item.id);
		    $("#trader_name").val(ui.item.name);
		}
    });
	// カレンダーを表示
	CalList (set_tantoID);
	// 未フォローを表示
	StillList (set_tantoID);
	


//	$("#subject15").click(function(){ $("#dialog1").dialog("open"); });
//	$("#button_test").click(function(){ $("#dialog1").dialog("open"); });


});

{% block function %}
function getExplicitOriginalTarget( _event ) {
    return document.activeElement || _event.explicitOriginalTarget;
}

function getUrlVars() {
    var vars = [], hash; 
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&'); 
    for(var i = 0; i < hashes.length; i++) { 
        hash = hashes[i].split('='); 
        vars.push(hash[0]); 
        vars[hash[0]] = hash[1]; 
    } 
    return vars; 
}

function ModalDisplayTextarea (com, key, sub_key, id) {
		
	$("#modalSpace").hide();
	$("#glayLayer").show();
	if (com == "addeditfol") {
		$("#overTextareaLayer").show().html($("#modalTextarea").html()).css({
			top:$("#div_flist").offset().top,
			left:($("#div_flist").offset().left + $("#div_flist").width) - $(this).width
		});
	}
	else if (com == "addeditBKlist") {
		$("#overTextareaLayer").show().html($("#modalTextarea").html()).css({
			top:$("#div_slist").offset().top,
			left:($("#div_slist").offset().left + $("#div_slist").width) - $(this).width
		});
	}
	var objtoedit = document.getElementById(id);
	$("#overTextareaLayer").val(objtoedit.innerHTML);
	$("#overTextareaLayer").focus();
	var registList = new Array();
	var timeOut = 30;
	var time_id;

	time_id = setTimeout(function() {
		registList = ModalTextareaUpdate (com, key, sub_key, $("#overTextareaLayer").val(), id, registList, time_id);
	}, timeOut * 1000);
	
	$("#glayLayer").click(function(){
		registList = ModalTextareaUpdate (com, key, sub_key, $("#overTextareaLayer").val(), id, registList, time_id);
	});
	$("#overTextareaLayer").dblclick(function(){
		registList = ModalTextareaUpdate (com, key, sub_key, $("#overTextareaLayer").val(), id, registList, time_id);
	});
	$(window).keydown(function(e){
		if (e.keyCode == 27) {
			clearTimeout(time_id);
			$("#glayLayer").hide();
			$("#overTextareaLayer").hide();
		}
	});

//	if($.browser.msie && $.browser.version<7){  //表示位置の設定を疑似的にposition:fixedにするIE用の設定
//		$(window).scroll(function(){
//			  $("#glayLayer").get(0).style.setExpression("top","$(document).scrollTop()+'px'");
//			  $("#overTextareaLayer").get(0).style.setExpression("top","($(document).scrollTop() + $(window).height()/2)+'px'");
//		});
//	}

	return false;
}
function ModalTextareaUpdate (com, key, sub_key, val, id, registListTemp, time_id) {
	if (jQuery.inArray(id, registListTemp) < 0) {
		if (document.getElementById(id).innerHTML != val) {
			if (com == "addeditfol") {
				FollowBody (com, key, val, id);
			}
			else if (com == "addeditBKlist") {
				BkMemo (com, key, sub_key, val, id);
			}
		}
		$("#glayLayer").hide();
		$("#overTextareaLayer").hide();
		registListTemp.push(id)
		clearTimeout(time_id);
	}
	return (registListTemp);
}
function ModalDisplayText (com, key, spanId, id, app_list, act_list) {
		
	$("#modalSpace").hide();
	$("#glayLayer").show();
	if (com == "addeditfol") {
		$("#overTextLayer").show().html($("#modalText").html()).css({
			top:$("#"+spanId).offset().top,
			left:$("#"+spanId).offset().left
		});
	}
	else if (com == "addeditBKlist") {
		$("#overTextLayer").show().html($("#modalText").html()).css({
			top:$("#"+id).offset().top,
			left:$("#"+id).offset().left
		});
	}
	var objtoedit = document.getElementById(id);
	$("#overTextLayer").val(objtoedit.innerHTML);
	$("#overTextLayer").focus();
	var registList = new Array();
	var timeOut = 30;
	var time_id;
	
	time_id = setTimeout(function() {
		registList = ModalTextUpdate (com, key, $("#overTextLayer").val(), spanId, id, app_list, act_list, registList, time_id);
	}, timeOut * 1000);
	
	$("#glayLayer").click(function(){
		registList = ModalTextUpdate (com, key, $("#overTextLayer").val(), spanId, id, app_list, act_list, registList, time_id);
	});
	$("#overTextLayer").dblclick(function(){
		registList = ModalTextUpdate (com, key, $("#overTextLayer").val(), spanId, id, app_list, act_list, registList, time_id);
	});
	$(window).keydown(function(e){
		if (e.keyCode == 27) {
			clearTimeout(time_id);
			$("#glayLayer").hide();
			$("#overTextLayer").hide();
		}
		else if (e.keyCode == 13 || e.keyCode == 108) {
			registList = ModalTextUpdate (com, key, $("#overTextLayer").val(), spanId, id, app_list, act_list, registList, time_id);
		}
	});
	return false;
}
function ModalTextUpdate (com, key, val, spanId, id, app_list, act_list, registListTemp, time_id) {
	if (jQuery.inArray(id, registListTemp) < 0) {
		if (document.getElementById(id).innerHTML != val) {
			if (com == "addeditfol") {
					FollowKindname (com, key, val, spanId, id, set_tantoID, app_list, act_list);
			}
			else if (com == "addeditBKlist") {
					BKSenddate (com, key, spanId, val, id, app_list);
			}
		}
		$("#glayLayer").hide();
		$("#overTextLayer").hide();
		registListTemp.push(id)
		clearTimeout(time_id);
	}
	return (registListTemp);
}

function ModalFollowInput (key) {
	// 初期化
	$("#overFollowInputLayer").empty();
		
	$("#modalSpace").hide();
	$("#glayLayer").show();
	$("#overFollowInputLayer").show().append($("<table/>").attr("id","tblmf").attr("border","0").append($("<tr/>").attr("id","trmf0")));
		$("#trmf0").append($("<td/>").attr("colspan","4").attr("id","tdmf0").attr("align","right"));
		$("#tdmf0").append($("<img>").attr("id","imgmf0").attr("src","img/close_mark.png").attr("height", "30").attr("width", "30").attr("border", "0"));
		
		$("#tblmf").append($("<tr/>").attr("id","trmf1"));
		$("#trmf1").append($("<td/>").attr("align","right").text("済み"));
		$("#trmf1").append($("<td/>").attr("colspan","3").append("<input id=\"checkFollowDone\" type=\"checkbox\" value=\"1\">"));
		
		$("#tblmf").append($("<tr/>").attr("id","trmf2"));
		$("#trmf2").append($("<td/>").attr("align","right").text("アクション"));
		$("#trmf2").append($("<td/>").append("<input id=\"inputFollowKindname\" type=\"text\" size=\"15\">"));
		$("#trmf2").append($("<td/>").attr("align","right").text("表題"));
		$("#trmf2").append($("<td/>").append("<input id=\"inputFollowSubject\" type=\"text\" size=\"15\">"));
		
		$("#tblmf").append($("<tr/>").attr("id","trmf3"));
		$("#trmf3").append($("<td/>").attr("align","right").text("メモ"));
		$("#trmf3").append($("<td/>").attr("colspan","3").append("<textarea id=\"inputFollowBody\" size=\"20\" cols=\"25\" rows=\"3\"></textarea>"));
		
		$("#tblmf").append($("<tr/>").attr("id","trmf4"));
		$("#trmf4").append($("<td/>").attr("align","right").text("予定日"));
		$("#trmf4").append($("<td/>").attr("colspan","3").append("<input id=\"inputFollowReservation\" type=\"text\" size=\"20\">"));
		
		$("#tblmf").append($("<tr/>").attr("id","trmf5"));
		$("#trmf5").append($("<td/>").attr("align","right").text("予定終了日"));
		$("#trmf5").append($("<td/>").attr("colspan","3").append("<input id=\"inputFollowReservationend\" type=\"text\" size=\"20\">"));
		
		$("#tblmf").append($("<tr/>").attr("id","trmf6"));
		$("#trmf6").append($("<td/>").attr("id","tdmf6").attr("colspan","4").attr("align","center"));
		$("#tdmf6").append($("<button>").attr("type","button")
			.attr("onClick", "FollowInsert(document.getElementById('checkFollowDone').checked, document.getElementById('inputFollowKindname').value, document.getElementById('inputFollowSubject').value, document.getElementById('inputFollowBody').value, document.getElementById('inputFollowReservation').value, document.getElementById('inputFollowReservationend').value);").text("保存"));
		$("#tdmf6").append($("<button>").attr("type","button").text("メール送信"));
		$("#tdmf6").append($("<button>").attr("type","button").text("担当者にメール送信"));

	$("#overFollowInputLayer").css({
		top:$("#div_flist").offset().top,
		left:($("#div_flist").offset().left + $("#div_flist").width) - $(this).width
	});
	$("#inputFollowID").focus();
	$("#imgmf0").hover(
		function(){
			$(this).css("cursor","pointer"); //---カーソルを指に
		},
		function(){
			$(this).css("cursor","default"); //---カーソルを戻す
		}
	);
	$("#imgmf0").click(function(){
		$("#glayLayer").hide();
		$("#overFollowInputLayer").hide();
	});
	$("#glayLayer").click(function(){
		$("#glayLayer").hide();
		$("#overFollowInputLayer").hide();
	});
	$(window).keydown(function(e){
		if (e.keyCode == 27) {
			$("#glayLayer").hide();
			$("#overFollowInputLayer").hide();
		}
	});

	return false;
}

function ModalThingInput (key) {
	// 初期化
	$("#overThingInputLayer").empty();
		
	$("#modalSpace").hide();
	$("#glayLayer").show();
	$("#overThingInputLayer").show().append($("<table/>").attr("id","tblmt").attr("border","0").append($("<tr/>").attr("id","trmt0")));
		$("#trmt0").append($("<td/>").attr("colspan","2").attr("id","tdmt0").attr("align","right"));
		$("#tdmt0").append($("<img>").attr("id","imgmt0").attr("src","img/close_mark.png").attr("height", "30").attr("width", "30").attr("border", "0"));
		
		$("#tblmt").append($("<tr/>").attr("id","trmt1"));
		$("#trmt1").append($("<td/>").attr("align","right").text("物件番号"));
		$("#trmt1").append($("<td/>").append("<input id=\"inputThingID\" type=\"text\" size=\"13\">"));
		
		$("#tblmt").append($("<tr/>").attr("id","trmt2"));
		$("#trmt2").append($("<td/>").attr("align","right").text("メモ"));
		$("#trmt2").append($("<td/>").append("<textarea id=\"inputThingMemo\" cols=\"25\" rows=\"3\"></textarea>"));
		
		$("#tblmt").append($("<tr/>").attr("id","trmt3"));
		$("#trmt3").append($("<td/>").attr("id","tdmt3").attr("colspan","2").attr("align","center"));
		$("#tdmt3").append($("<button>").attr("type","button").attr("onClick", "BkInsert(set_key, document.getElementById('inputThingID').value, document.getElementById('inputThingMemo').value, false);").text("保存"));

	$("#overThingInputLayer").css({
		top:$("#div_slist").offset().top,
		left:($("#div_slist").offset().left + $("#div_slist").width) - $(this).width
	});
	$("#inputThingID").focus();
	$("#imgmt0").hover(
		function(){
			$(this).css("cursor","pointer"); //---カーソルを指に
		},
		function(){
			$(this).css("cursor","default"); //---カーソルを戻す
		}
	);
	$("#imgmt0").click(function(){
		$("#glayLayer").hide();
		$("#overThingInputLayer").hide();
	});
	$("#glayLayer").click(function(){
		$("#glayLayer").hide();
		$("#overThingInputLayer").hide();
	});
	$(window).keydown(function(e){
		if (e.keyCode == 27) {
			$("#glayLayer").hide();
			$("#overThingInputLayer").hide();
		}
	});

	return false;
}

border="n"
height="n"
width="n"

{% endblock function %}

</script>

{% block inlinecss %}

<style type="text/css">
         #dialog {
            width:375px; height:203px;
            padding:10px;
            background-color:#fff;
         }
		 .ui-dialog-titlebar {}
</style>

{% endblock inlinecss %}

</head>

<body leftmargin="0" marginheight="0" marginwidth="0" topmargin="0">

<div class="wrapper">

<!--header-->
<div class="header">
<a href="/login.html?">ログオフ</a>
<select name="selectName" size="1">
<option selected="selected" value="one">メニュー</option>
<option value="one">物件登録</option>
<option value="two">レインズアップロード</option>
<option value="three">アドレスリスト（小学校区）アップロード</option>
<option value="one">重複チェック</option>
<option value="two">顧客メール一斉送信</option>
<option value="three">顧客検索</option>
<option value="three">顧客グループ管理</option>
<option value="three">顧客新規登録</option>
<option value="three">資料作成状況</option>
</select>
</div>
<!--header End-->

<form action="./bksearch.html" method="post" name="frmbksearch" id="frmbksearch">
<input type="hidden" name="memberID" value="{{memberID}}"/>
<input type="hidden" name="key" value="{{key}}"/>
<input type="hidden" name="page" value="{{page}}"/>

<div class="container">
<div class="contents">


{% block maincontents %}
<!-- ここから本文記入 -->
<!--contents-head01-->
<li class="contents-head01"><input type="text" name="trader_id" id="trader_id" value="" size="13" />　<input type="text" name="trader_name" id="trader_name" value="" size="11" />　<input type="text" name="trader_tel" id="trader_tel" size="25" /></li>
<!--contents-head01 END-->
<!--contents-head02-->
<li class="contents-head02"><button name="buttonName" type="button">フォロー状況</button><button name="buttonName" type="button">顧客台帳</button><button name="buttonName" type="button">検索条件</button><button name="buttonName" type="button">新規登録</button><button type="button" onclick="ModalFollowInput(set_key);">新規フォロー</button></li>
<!--contents-head02 END-->


<!--follow01-->


<div id="div_flist" class="follow01">

<table id="tblf" border="0" cellspacing="1" cellpadding="5" bgcolor="#8d8268">
	<thead id="tblfhead"></thead>
	<tbody id="tblfbody"></tbody>
	<tfoot class="nav"></tfoot>
</table>
</div>

<!--follow01 End-->

<!--follow01-->
<div id="div_slist" class="follow01">
<table id="tbls" border="0" cellspacing="1" cellpadding="5" bgcolor="#8d8268">
<thead id="tblshead"></thead>
<tbody id="tblsbody"></tbody>
<tfoot class="nav"></tfoot>
</table>
</div>
<div id="btn_slist">
<button type="button" onclick="ModalThingInput(set_key);">新規入力</button>&nbsp;&nbsp;
<button type="button" onclick="ThingDelete(set_key);">チェックを削除</button>
</div>
<!--follow02 End-->

<!--follow03-->
<div id="div_mlist" class="follow03">
<table width="95%" border="0" cellpadding="5" cellspacing="1" bgcolor="#8d8268" id="tblm">
	<thead id="tblmhead">
	<tr>
	<td sort=顧客番号 bgcolor="#c9b7a1">顧客番号</td>
	<td sort=顧客名 bgcolor="#c9b7a1">顧客名</td>
	<td sort=電話番号 bgcolor="#c9b7a1">電話番号</td>
	<td sort=FAX番号 bgcolor="#c9b7a1">FAX番号</td>
	</tr>
	</thead>
	<tbody id="tblmbody"></tbody>
	<tfoot class="nav"></tfoot>
</table>
</div>
<!--follow03 End-->

</div>

<div id="modalSpace" style="display: none;">
<div id='modalFollowInputLayer'></div>
<div id='modalThingInputLayer'></div>
<textarea id="modalTextarea" cols=25 rows=6></textarea>

</div>
<div id='glayLayer'></div><div id='overFollowInputLayer'></div><div id='overThingInputLayer'></div><textarea id='overTextareaLayer'>
</textarea><input type="text" id="overTextLayer" size="17">
<!--contents END-->

{% endblock maincontents %}

<!--leftcontent-->
<div class="leftcontent">
<div id="calendar" class="calendar">
  <table id="tblc" border="0" cellspacing="1" cellpadding="5" bgcolor="#8d8268">
    <tbody id="tblcbody"></tbody>
  </table>
</div>
</div>
<!--leftcontent End-->

<p class="container-clear">&nbsp;</p>
</div><!-- // container END -->

<!--rightcontent-->
<div class="rightcontent">
<div class="title">
未フォロー
</div>
<div id="still" class="content">
</div>
</div>
<!--rightcontent End-->

<div class="footer">Database</div>

</div><!--wrapper End-->

</body>
</html>